@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@import "custom/fonts";

// general
//@import "custom/general";

// components
@import "components/buttons";
//@import "components/breadcrumb";

// structure
@import "custom/structure/topnav";
//@import "custom/structure/footer";

// pages
//@import "custom/pages/helper";
//@import "custom/pages/hero";
//@import "custom/pages/countdown";
//@import "custom/pages/portfolio";
//@import "custom/pages/contact";

// Plugins
//@import "custom/plugins/swiper-slider";
//@import "custom/plugins/testi";
//@import "custom/plugins/choices";
//@import "custom/plugins/datepicker";

.containerx {
  position: relative;
  //width: 50%;
}

.containerx img {
  width: 100%;
  height: auto;
}

.containerx .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  //color: white;
  //font-size: 16px;
  //padding: 12px 24px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.35);
  border-radius: 5px;
}

.containerx .btn:hover {
  background-color: rgb(255, 0, 0);
}

.social-media {
  transition: all .3s; /* Animation */
}

.social-media:hover {
  transform: scale(1.3);
  rotate: -10deg;
}


