<meta charset="UTF-8" />
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Villa Donna Greece. Relax in harmony." />
<meta name="keywords" content=" greece, vacation, hospitality, pool, sun, kyparissia" />
<meta name="author" content="Villa Donna" />
<meta name="version" content="0.0.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />